.tab3 {
  background: url("../img/bg-tab3.jpg") no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  min-height: 400px;
  .owl-carousel {
    .owl-nav {
      .owl-prev, .owl-next {
        position: absolute;
        color: transparent;
        top: 50%;
        height: 30px;
        width: 30px;
        margin-top: -22px;
        background-color: rgba(255,255,255,0.5);
        @include border-radius(50%);
        &:hover{
          background-color: rgba(255,255,255,0.8);
        }
      }
      .owl-prev {
        left: -15px;
        &:after{
          position: absolute;
          background: url("../img/icon-pre-1366.png") no-repeat;
          content: '';
          top: 3px;
          left: 4px;
          width: 17px;
          height: 23px;
        }
      }
      .owl-next {
        right: -15px;
        &:after{
          position: absolute;
          background: url("../img/icon-show-1366.png") no-repeat;
          content: '';
          top: 4px;
          left: 8px;
          width: 17px;
          height: 23px;
        }
      }
    }
  }
  .owl-theme {
    .news-inbox {
      padding: 1px 1px 10px 1px;
      background-color: white;
      width: 100%;
      display: block;
      position: relative;
      .img-preview {
        width: 100%;
        background-size: cover;
        display: block;
        height: 160px;
      }
      a.view-detail {
        box-sizing: content-box;
        display: block;
        line-height: 18px;
        margin-left: 10px;
        margin-top: 5px;
        max-width: 95%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: break-word;
        transition: all 0.2s ease;
        color: #555555;
        &:hover {
          transition: all 0.2s ease;
          color: #202020;
        }
      }
      &:after{
        position: absolute;
        content: '';

      }
    }
  }
}

@include breakpoint(sm-break) {
  .tab3 {
    min-height: 450px;
  }
}

@include breakpoint(xs-break) {
  .tab3 {
    min-height: 450px;
  }
}

// color
$green: #02a94f;

// TAB ~~~~~~~~~~~~~~~ (.)(.)
.tab {
  position: relative;
  overflow: hidden;
  background: transparent;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

.tabs {
  padding: 0;
  display: table;
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
  text-align: center;
  li {
    display: inline-block;
    line-height: 38px;
    overflow: hidden;
    padding: 0;
    position: relative;
    @include border-bottom-radius(2px);
  }

  a {
    background-color: transparent;
    color: #fff;
    font-weight: 500;
    display: block;
    letter-spacing: 0;
    outline: none;
    padding: 0 20px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    @include border-bottom-radius(4px);
  }
}
.tab_content{
  position: relative;

}
.tabs_item {
  display: none;
  padding: 15px 15px 30px;
  overflow: hidden;
  height: 250px;
  position: relative;
  width: 100%;
  .view-all-tab{
    position: absolute;
    bottom: 0;
    right: 15px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background-color: #e81c1f;
    transition: all 0.5s ease;
    padding: 5px 25px;
    &:hover{
      transition: all 0.5s ease;
      background-color: #009639;
    }
  }
  h4 {
    font-weight: bold;
    color: $green;
    font-size: 20px;
  }

  img {
    width: 200px;
    float: left;
    margin-right: 30px;
  }

  &:first-child {
    display: block;
  }
}

.current a {
  color: #fff;
  background: $green;
  @include border-radius(2px);
}

// END TAB ~~~~~~~~~~~~~~~ (.)(.)