.tab5 {
  width: 100%;
  height: 100%;
  clear: both;
  background: url("../img/bg-tab5.jpg") no-repeat center center;
  background-size: cover;
  .lady-pr {
    width: 95%;
    display: block;
    margin-top: 20px;
  }

  @include breakpoint(sm-break) {
    .lady-pr {
      width: 51%;
    }
  }

  @include breakpoint(xs-break) {
    .lady-pr {
      width: 100%;
    }
  }

  .check-form {
    background-color: #02a94f;
    padding: 20px 20px 10px;
    .title-check-form {
      font-size: 16px;
      color: white;
      margin: 0 0 10px;
      font-weight: 700;
    }
  }

  @include breakpoint(sm-break) {
    .check-form {
      margin-top: 0;
    }
  }

  @include breakpoint(xs-break) {
    .check-form {
      margin-top: 0;
    }
  }

  input, select {
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .cmd-form {
    border: 1px solid #028d42;
    background-color: #ecebeb;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    padding: 8px 15px;
    @include border-radius(3px);
  }
  .submit-check-form {
    font-size: 16px;
    text-decoration: none;
    padding: 8px 15px;
    text-align: center;
    width: 100%;
    display: block;
    color: white;
    background-color: #e81c1f;
    font-weight: 700;
    height: 38px;
    @include border-radius(3px);
    line-height: 22px;
    transition: all 0.5s ease;
    &:hover {
      transition: all 0.5s ease;
      background-color: #961214;
    }
  }
  .selector {
    border: 1px solid #028d42;
    width: 100%;
    margin-bottom: 10px;
    @include border-radius(3px);
    overflow: hidden;
    background: #ecebeb url("../img/selecter.jpg") no-repeat 98% 50%;
    select {
      padding: 7px 15px;
      margin: 0;
      width: 100%;
      border: none;
      box-shadow: none;
      background-color: transparent;
      background-image: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      &:focus {
        outline: none;
      }
    }
  }

  .group-video {
    background-color: #ffffff;
    padding: 18px 15px;
    .title-group-video {
      position: relative;
      color: #3a3a3a;
      margin: 5px 0;
      span.viewed {
        position: relative;
        bottom: 0;
        right: 0;
        display: block;
        i, span {
          display: inline-block;
          color: #a1a1a1;
        }
        i {
          opacity: 0.3;
        }
      }
    }
    .page-video {
      display: block;
      a.page {
        display: inline-block;
        color: #a1a1a1;
        text-decoration: none;
        margin-right: 10px;
        &.active, &:hover {
          color: #3a3a3a;
        }
      }
    }
  }
}
