.product-tab4{
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ebebeb;
  clear: both;
  padding-bottom: 20px;
  .embed-responsive{
    margin-top: 5px;
  }
  .video-bottom{
    margin-top: 10px;
  }
  @include breakpoint(xs-break) {
    .video-bottom{
      margin-top: 0;
    }
  }
}