.product-tab2 {
  display: block;
  clear: both;
  .owl-carousel {
    .owl-nav {
      .owl-prev, .owl-next {
        position: absolute;
        color: transparent;
        top: 50%;
        height: 43px;
        width: 43px;
        margin-top: -21px;
        &:hover {
          &:after {
            background-color: #e81c1f;
          }
        }
      }
      .owl-prev {
        left: -21px;
        &:after {
          position: absolute;
          background: url("../img/pre-product.png") no-repeat 12px 10px;
          content: '';
          background-color: #02a94f;
          @include border-radius(50%);
          top: 0;
          left: 0;
          width: 43px;
          height: 43px;
        }
      }
      .owl-next {
        right: -21px;
        &:after {
          position: absolute;
          background: url("../img/next-product.png") no-repeat 16px 10px;
          content: '';
          background-color: #02a94f;
          @include border-radius(50%);
          top: 0;
          left: 0;
          width: 43px;
          height: 43px;
        }
      }
    }
  }
  .owl-theme {
    .news-inbox {
      padding: 1px 1px 10px 1px;
      background-color: white;
      width: 100%;
      display: block;
      position: relative;
      .img-preview {
        width: 100%;
        background-size: cover;
        display: block;
        cursor: pointer;
        height: auto;
      }
      a.view-detail {
        box-sizing: content-box;
        display: block;
        line-height: 18px;
        margin-left: 10px;
        margin-top: 5px;
        max-width: 95%;
        text-transform: uppercase;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: break-word;
        transition: all 0.2s ease;
        color: #555555;
        &:hover {
          transition: all 0.2s ease;
          color: #202020;
        }
      }
      &:after {
        position: absolute;
        content: '';

      }
    }
  }
}