/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* HTML5 display-role reset for older browsers */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #f3f2f2;
}

ol, ul {
  list-style: none;
}

b, strong {
  font-weight: bold;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  &:before, &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clear {
  clear: both;
}

a:hover{
  text-decoration: none;
}