.footer{
  background-color: #009639;
  color: white;
  position: relative;
  margin-top: 82px;
  &:after{
    background: rgba(0, 0, 0, 0) url("../img/bg-footer.png") no-repeat scroll center center / cover ;
    content: "";
    height: 62px;
    left: 0;
    position: absolute;
    top: -61px;
    width: 100%;
  }
  .title-footer{
    margin: 10px auto;
    text-align: center;
  }
  h5{
    font-weight: 500;
    font-size: 14px;
  }
  .copyright-footer{
    background-color: #047b31;
    margin-top: 10px;
    .sub-menu{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        display: inline-block;
        margin-right: 10px;
        &:last-child{
          margin-right: 0;
        }
        a{
          color: white;
          display: block;
          font-weight: 500;
          padding: 10px 0;
          text-decoration: none;
          transition: all 0.5s ease;
        }
        &.active, &:hover{
          a{
            font-weight: 700;
            transition: all 0.5s ease;
          }
        }
      }
    }
  }
}